<head>

    <title>Hotties Of UPD</title>

</head>

<body>
<header>
      <div class="welc">
        <h1 class ="h1n1">HOTTIES OF  </h1> <h1 class="h1n2">   UPD</h1>
        <h5>
          <em>Hello, thirsty teenage girls and gays! Welcome to the number one hottie-stalker app out there. Hotties Of UPD is a wiki meant to help you find hot guys in UPD. Feel free to admire the hot guys on this site. NO HATE ALLOWED!</em>
        </h5>
        <%= link_to 'Pages', controller: 'pages' %>
      </div>
</header>
</body>
