<head>

    <title>Hotties Of UPD</title>

</head>

<body>
<header>
      <div class="welc">
        <h1>Hotties Of UPD</h1>
        <h4>
          <em>Hello, thirsty teenage girls and gays! Welcome to the number one hottie-stalker app out there. Hotties Of UPD is a wiki meant for hot guys in UP. Feel free to admire the hot guys on this site. NO HATE ALLOWED!</em>
        </h4>
        <%= link_to 'Pages', controller: 'pages' %>
      </div>
</header>
</body>
