// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.page	{
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 15%;
  	font-size: 2vw;
  	left: 20%;
  	right: 20%;
	}


div.table	{
	text-align: center;
  	font-size: 0.7vw;
	}


div.show1	{
  	font-size: 1.8vw;
}


div.show2	{
	font-size: 1.2vw;
	margin-left: 1.7vw;
}

div.com {
	display: flex;
    align-items: flex-start;
}

h1 {
	display: inline;
}

h4 {
	display: inline;
}