// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.page	{
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 15%;
	left: 40%;
  	font-size: larger;
	}


div.table	{
	text-align: center;
  	font-size: medium;
	}

div.links	{
	text-align: center;
  	font-size: small;
  	bottom: 20%;
}

