body {
  background-color: #F4139F;
  color: #fff;
  margin: 5vw;
  font-family: Comic Sans MS;
  font-size: 2vw;
  line-height: 2.8vw;
}

p, ol, ul, td {
  font-family: Comic Sans MS;
  font-size: 2vw;
  line-height: 2.8vw;
}

pre {
  background-color: #eee;
  padding: 1.5vw;
  font-size: 1.7vw;
}

a {
  color: #FFB6E6;

  &:visited {
    color: #FFB6E6;
  }

  &:hover {
    color: #fff;
    background-color: #FFB6E6;
  }
}

th {
  padding-bottom: 0.7vw;
}

td {
  padding: 0 0.7vw 1vw;
}

div {
  &.field, &.actions {
    margin-bottom: 1.5vw;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 0.3vw;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 70vw;
  border: 0.3vw solid red;
  padding: 1vw 1vw 0;
  margin-bottom: 3vw;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0.7vw 0.7vw 0.7vw 2.3vw;
    font-size: 1.8vw;
    margin: -1vw -1vw 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 1.8vw;
    list-style: square;
  }
}

label {
  display: block;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('COMIC.TTF');
}
