// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.welc	{
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	font-size: 2vw;
	}

h1 {
	display: inline;
}

h1.h1n1	{
	font-family: Futura Extra Black;
	color: #FFB6E6;
}

h1.h1n2	{
	font-family: Futura Book;
}