<p>
  <b><%= comment.name %></b>:<br><%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.page, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
